LOG.DEBUGGING=1
MAIL.DRIVER=pop3
STORAGE.DRIVER=webdav
WEBDAV.USERNAME=
WEBDAV.PASSWORD=
WEBDAV.URL=https://
WEBDAV.UPLOAD.DIRECTORY=/
WEBDAV.UPLOAD.STOREBYDATE=month
IMAP.SERVER=<server-hostname>:993
IMAP.USERNAME=
IMAP.PASSWORD=
SETTINGS.KEEPUPLOADED=1