Settings:
  # DefaultInterval: 60
  Log:
    # Debugging: True
Archivers:
  webdav_nextcloud:
    Type: webdav
    Config:
      Username:
      Password:
      Server: https://server/remote.php/dav/files/username/
      UploadDirectory: /upload/
  local_filesystem:
    Type: filesystem
    Config:
      Directory: /home/user/archivar/
  google_drive:
    Type: gdrive
    OAuthToken: >
      {
        "access_token":"<your token here>",
        "token_type":"Bearer",
        "refresh_token":"<your refresh token here>",
        "expiry":"some-date"
      }
    ClientSecrets: >
      {"installed":
        {
          "client_id":"some_client_id",
          "project_id":"archivar",
          "auth_uri":"https://accounts.google.com/o/oauth2/auth",
          "token_uri":"https://oauth2.googleapis.com/token",
          "auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs",
          "client_secret":"some_client_secret",
          "redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]
        }
      }
    UploadDirectory: /archivar/
Gatherers:
  local_filesystem:
    Type: filesystem
    Config:
      Directory: /home/user/input_directory
      # DeleteDownloaded: true
  webdav_nextcloud:
    Type: webdav
    Config:
      Username:
      Password:
      Server: https://server/remote.php/dav/files/username/
      UploadDirectory: /input_directory/
  imap_gmail_with_prefix_labels:
    Type: imap
    InboxPrefix: archivar
    Config:
      Server: server:993
      Username:
      Password:
      # DeleteDownloaded: False
      # AllowInsecureSSL: False
  imap_mail_account:
    Type: imap
    Config:
      Server: server:993
      Username:
      Password:
      # DeleteDownloaded: False
      # AllowInsecureSSL: False
      InboxPrefix: archivar
Processors:  
  superSecretDataEncrypter:
    Type: encrypter
    Config:
      AddExtension: .encrypted
      DontRename: false
      PublicKey: |
        -----BEGIN RSA PUBLIC KEY-----
        Generate this using ./archivar encrypter key generate
        OR use 
        -----END RSA PUBLIC KEY-----
  sanatizer:
    Type: sanatizer
    Config:
      TrimWhitespaces: True
      # CharacterBlacklistRegexs:
      #   - "[^[:word:]-_. ]"
Filters:
  max_100mb:
    Type: filesize
    Config:
      # MinSizeBytes: 100
      MaxSizeBytes: 100000000
  pdf_only:
    Type: filename
    Config:
      Allow:
        - (?i).pdf$
      Reject:
        - .*
  reject_exe:
    Type: filename
    Config:
      Reject:
        - (?i).exe$
        # - (?i).html$
Jobs:
  imap_to_webdav:
    Interval: 600
    Gatherer: imap_mail_account
    Archiver: webdav_nextcloud
    Filters:
      - reject_exe
      - pdf_only
      - filesize_filter
    Processors:
      - sanatizer
      - superSecretDataEncrypter
